@page "/upload-csv"
@using IbkrTradeRepository.PortalApp.Data
@inject IWebHostEnvironment Env           
@inject ICsvFileProcessor CsvService      

<PageTitle>File uploader</PageTitle>
<InputFile OnChange="HandleSelectedFiles" multiple type/>

<ul class="mt-3">
    @foreach (var file in uploads)
    {
        <li>@file.Name – @file.Size / @file.ContentType</li>
    }
</ul>

@code {
    private readonly List<IBrowserFile> uploads = [];
    private ElementReference hiddenFileInput;    

    private async Task HandleSelectedFiles(InputFileChangeEventArgs e)
    {
        foreach (var f in e.GetMultipleFiles())
        {
            await ProcessFileAsync(f);
        }
    }

    private async Task ProcessFileAsync(IBrowserFile browserFile)
    {
        uploads.Add(browserFile);

        // Buffer the stream into a MemoryStream
        await using var sourceStream = browserFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024); // 10 MB
        using var memoryStream = new MemoryStream();
        await sourceStream.CopyToAsync(memoryStream);
        memoryStream.Position = 0;

        await CsvService.ParseAsync(memoryStream, browserFile.Name);

        StateHasChanged();
    }
}
